body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #0e1536; 
    color: #ffffff; 
    padding: 20px 0; 
    margin: 0;
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid black; 
}

hr {
    border-color: black;
    margin: 0;
}

#ganador {
    color: green;
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    animation: ganadorEfecto 1s infinite alternate;
    padding: 2%;
}

@keyframes ganadorEfecto {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0.8;
    }
}

button#reiniciar {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;

}

button#reiniciar:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

h1,p,div{
    text-align: center;
    font-family:Helvetica, sans-serif;
}
.centrar{
    display: grid;
    justify-content: center;
    align-content: center;
}
body{
    /* background-color: #29c9df; */
    background-color: #e6f3ff;
}
